.container.group {
    background: #fff;
    margin: 0 auto;
    border-radius: 10px;
}
/*table tfoot tr.here td:first-child {
    border: none;
}*/
.container.group.py-3.px-3.mt-3.reduce{
    width: 700px !important;
    text-align: center;
}
.upper{
    text-transform: uppercase;
}
.titulo {
    border: 1px solid #dee2e6;
}
.data_bussiness h6{
    margin-bottom: 0px;
}
.py-3 {
    padding: 24px 0;
    margin: 24px 0;
}
.mt-4{
   margin-top: 15px;
}
.p-2{
   padding: 10px;
}
.table-custom{
    padding: 14px;
    width: 100%;
}
.text-center{
   text-align: center;
}
.table-custom td, .table-custom th {
    padding: 3px;
    vertical-align: inherit;
    font-weight: 400;
    border: 1px solid #dee2e6;
}
table.table-custom.mt-5 {
    margin-top: 12rem !important;
}
.mt10{
    margin-top: 100px;
}
.bgtitle {
    background-color: #efefef !important;
    -webkit-print-color-adjust: exact;
    text-align: center;
}
.btext td{
    font-weight: 700;
}
h4.titulo_principal {
    background-color: #efefef !important;
    -webkit-print-color-adjust: exact;
    text-align: center;
    padding: 8px 4px;
    border: 1px solid #dee2e6;
    margin-top: 20px;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
table {
    border-collapse: collapse;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 0px;
    border-color: grey;
    font-variant: normal;
}
p{
   margin: 0;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
@media print{
@page  
{ 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 0mm 0mm 0mm 0mm;  
} 
.py-3 {
    padding: 0px 0;
    margin: 0px 0;
}
   .table-custom{
       padding: 0px;
   }
  .container.group{
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none; 
  }
  .body , p{
     font-size: 9px !important;
   }
  .table-custom td, .table-custom th {
    font-size: 10px;
  }
  .container.group.py-3.px-3.mt-3.reduce{
   width: 280px !important;
  }
}